{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <!-- <h1>{{ page.title }}</h1> -->

    <!-- <div class="intro">{{ page.intro|richtext }}</div> -->

<!-- {% for post in blogpages %}
    {% with post=post.specific %}
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
        <p>{{ post.intro }}</p>
        {{ post.body|richtext }}
    {% endwith %}
{% endfor %} -->


{% include "blog/blog_nav.html" %}
	
	  <!--Header-->
	<div class="w-full m-0 p-0 bg-cover bg-bottom" style="background-image:url('cover.jpg'); height: 34vh; max-height:460px;">
		<div class="container max-w-4xl mx-auto pt-8 md:pt-8 text-center break-normal">
			<!--Title-->
			<!-- <center><img src="logo2.png" class="w-64 py-4"></center> -->
				<p class="text-xl md:text-3xl font-bold text-gray-700 ">{{ page.title }}</p>
				<!-- <div class="intro">{{ page.intro|richtext }}</div> -->
				<!-- <p class="text-xl md:text-sm text-gray-500">I have pinned the first blog which decsribes how I built this blog. Check it out if you are interested</p> -->
				
		</div>
	</div>

<!--Container-->
<div class="container px-4 md:px-0 max-w-6xl mx-auto -mt-32">

	<div class="mx-0 sm:mx-6">

   
				
	
		<div class="bg-gray-100 w-full text-xl md:text-2xl text-gray-800 leading-normal rounded-t"></div>
		
		<!--Pinned Post-->
		
		{% for post in blogpages %}
		{% with post=post.specific %}

		{% for tag in post.tags.all %}
		{# Loop through all the existing tags #}
		{% if tag.name == "pinned" %}
		
		<div class="flex h-full bg-white rounded overflow-hidden shadow-xl">
			<a href="post.html" class="flex flex-wrap w-full no-underline hover:no-underline">
				<div class="w-full md:w-2/3  rounded-t">	
					<div class="relative bg-white" style="padding-bottom:0%">
						<!-- <img src="../static/images/django-wagtail.png"  class=" absolute h-full w-full shadow  "> -->
						<!-- <img src="../static/images/django-wagtail.png"  class=" absolute h-full w-full shadow object-cover "> -->
						{% with post.main_image as main_image %}
						{% if main_image %}
						
						{% image main_image original  %}
						{% endif %}
						{% endwith %}
					</div>	
				</div>



				

				<div class=" md:w-1/3 flex flex-col flex-grow flex-shrink">
					<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
						<p class="w-full text-gray-600 text-xs md:text-sm pt-6 px-6">Pinned Post</p>
						<div class="w-full font-bold text-xl text-gray-900 px-6 mt-2">{{post.title}}</div>
						<p class="text-gray-600 font-serif text-base px-6 mb-5 mt-4">
							{{post.intro}} 
						</p>
					</div>

					<div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
						<div class="flex items-center justify-between">
							<img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="Author Name" src="http://i.pravatar.cc/300" alt="Avatar of Author">
							<p class="text-gray-600 text-xs md:text-sm">1 MIN READ</p>
						</div>
					</div>
				</div>

			</a>
		</div>
		<!--/Pinned Post -->
		{% endif %}
		
	{% endfor %}
	{% endwith %}
	{% endfor %}
					
	
	
	
	<!-- Blog Posts -->
				<div class="flex flex-wrap justify-between pt-12 -mx-6">
					{% for post in blogpages %}
					{% with post=post.specific %}
					
					{# Loop through all the existing tags #}
					{% if not post.tags.all %}
					
					<!--1/2 col -->
					<div class="w-full md:w-1/3 p-6 flex flex-col  flex-shrink">
						<div class="flex-1 flex-row bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
							<a href="#" class="flex flex-wrap no-underline hover:no-underline">	
								<!-- <img src="https://source.unsplash.com/collection/764827/800x600" class="h-full w-full rounded-t pb-6"> -->
								{% with post.main_image as main_image %}
								{% if main_image %}
								
								{% image main_image original %}
								{% endif %}
								{% endwith %}
								<div class="w-full font-bold text-xl text-gray-900 pt-6 px-6">{{post.title}}</div>
								<p class="w-full text-gray-600 text-xs md:text-sm px-6">{{post.intro}}</p>
								<!-- <p class="text-gray-800 font-serif text-base px-6 mb-5">
									Lorem ipsum eu nunc commodo posuere et sit amet ligula. 
								</p> -->
							</a>
						</div>
						<div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
							<div class="flex items-center justify-between">
								<img class="w-8 h-8 rounded-full mr-4 avatar" data-tippy-content="Author Name" src="http://i.pravatar.cc/300" alt="Avatar of Author">
								<p class="text-gray-600 text-xs md:text-sm">1 MIN READ {{post.date}}</p>
							</div>
						</div>
					</div>
					{% endif %}
					
					{% endwith %}
					{% endfor %}

				</div>
				<!--/ Blog Posts -->

{% include "blog/blog_subscribe.html" %}
</div>
</div>
</div>
{% include "blog/blog_footer.html" %}
{% endblock %}



